 <!--LEAFLET-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>


<style>
    :root {
        --markerScale: 15px;
    }
    .leaflet-control-attribution .leaflet-control {
        font-family: 'Rubik', sans-serif;
    }
    div.marker-default {
        width: var(--markerScale)!important;
        height: var(--markerScale)!important;
        margin-top: calc(-(var(--markerScale)/2));
        margin-left: calc(-(var(--markerScale)/2));
        border: solid white 2px;
        border-radius: 100%;
        background: var(--blue);
    }
    div.marker-service-show {
        width: var(--markerScale)!important;
        height: var(--markerScale)!important;
        margin-top: calc(-(var(--markerScale)/2));
        margin-left: calc(-(var(--markerScale)/2));
        border: solid white 2px;
        border-radius: 100%;
        background: var(--blue);
        animation: bounce 3s infinite;
    }
    @keyframes bounce {
        0% {
            background: var(--blue);
        } 50% {
            background: var(--green);
        } 100% {
            background: var(--blue);
        }
    }
    .markers {
        animation: show 1s ease;
    }
    @keyframes show {
        0% {
            opacity: 0;
        } 100% {
            opacity: 1;
        }
    }
</style>

<script type="text/javascript">

    // instancie la map
    var map = L.map('mapContainer').setView([{{serviceOffer.user.lat}}, {{serviceOffer.user.lgt}}], 14);

    // ajoute le theme de la map
    var Hydda_Full = L.tileLayer('https://{s}.tile.openstreetmap.se/hydda/full/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: 'Tiles courtesy of <a href="http://openstreetmap.se/" target="_blank">OpenStreetMap Sweden</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // icons
    var iconDefault = L.divIcon({className: 'markers marker-default'});
    var iconServiceShow = L.divIcon({className: 'marker-service-show'});

    var arrayOfMarkers = [];
    var lengthArrayofMarkers = 0;

    // ajoute le marker du service affiché
    var markerServiceShow = L.marker([{{serviceOffer.user.lat}}, {{serviceOffer.user.lgt}}]);
    markerServiceShow = L.marker([markerServiceShow._latlng.lat, markerServiceShow._latlng.lng], {icon: iconServiceShow}).addTo(map);

    // rajoute les nouveaux markers du tableau arrayOfMarkers
    function addArrayToMap() {
        // boucle seulement sur les markers ajoutés en derniers : arrayOfMarkers
        for (let i = lengthArrayofMarkers; i < arrayOfMarkers.length; i++) {
            var marker = arrayOfMarkers[i];
            markerToAdd = L.marker([marker.lat, marker.lgt], {icon: iconDefault}).addTo(map);
           
            markerToAdd['url'] = marker.url;
            markerToAdd._icon.title = marker.url;
            markerToAdd._icon.dataset.url = marker.url;
        }
        refreshLinks();
    }

    // initialise les markers à afficher
    window.onload = function () {
        refreshMarkers();
    }
    // recupère les markers quand il y a intéraction avec la map ou quand à la fin d'un zoom
    $('#mapContainer').on('mouseup', function () {
        refreshMarkers();  
    });
    map.on('zoomend', function() {
        refreshMarkers();  
    });

    function refreshMarkers() {
        //récupère les coordonnées des deux points opposés de la map
        var northEast = (map.getBounds())._northEast;
        var southWest = (map.getBounds())._southWest;

        // cherche en bdd seulement les markers pouvant être affichés
        var xhr = $.ajax({
            url: '{{ path('refresh_markers') }}',
            dataType: 'json',
            method: 'POST',
            data: {
                northEastLat: northEast.lat,
                southWestLat: southWest.lat,
                northEastLgt: northEast.lng,
                southWestLgt: southWest.lng,
                serviceType: {{serviceOffer.serviceType.id}}
            }
        });
        
        xhr.done(function(data) {
            lengthArrayofMarkers = arrayOfMarkers.length;

            for (let i = 0; i < data.length; i++) {
                var marker = data[i];
                var addToArray = true;

                if (lengthArrayofMarkers !== 0) {
                    for (let j = 0; j < arrayOfMarkers.length; j++) {
                        var markerOfArray = arrayOfMarkers[j];
                        var markerOfArrayLat = markerOfArray.lat + ''; // converti en string
                        var markerOfArrayLgt = markerOfArray.lgt + ''; // converti en string
                        
                        // si le marker existe dans le tableau des markers
                        if (marker.lat == markerOfArrayLat && marker.lgt == markerOfArrayLgt) {
                            addToArray = false;
                        }
                    }
                }
                // si le marker n'est pas celui du service affiché
                if (marker.lat == markerServiceShow._latlng.lat && marker.lgt == markerServiceShow._latlng.lng) {
                    addToArray = false;
                }
                if (addToArray == true) {
                    arrayOfMarkers.push(marker);
                }
            }
            addArrayToMap();
        })
    }

    // réatribut les events listener quand de nouveaux markers sont affichés
    function refreshLinks() {
        var markersOnMap = document.querySelectorAll('.leaflet-marker-pane .markers');
        for (let t = 0; t < markersOnMap.length; t++) {
            markersOnMap[t].addEventListener('click', function () {
                window.location.replace(markersOnMap[t].dataset.url);
            })
        }
    }
</script>