{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
	
    
{% endblock %}
{% block title %}GBA Vedio3D 360!{% endblock %}

{% block body %}



 <div class="container d-flex flex p-0 align-items-center welcome mx-auto">
        <div class="col-lg-6 d-flex mb-4 p-0 flex-column align-items-start align-items-lg-end justify-content-center text-lg-right">
            <h2>Un nouveau monde à portée de main</h2>
            <p>Plongez dans l’univers des artisans de notre région, entrez en immersion dans des lieux chargés d’histoire & promenez-vous dans un environnement virtuel pour découvrir et/ou (re)découvrir un lieu, un métier, un geste, une personnalité, une histoire, le patrimoine immatériel...</p>
            <a href="#" class="btn btn-success" href ="#">Learn More</a> 
        </div>
        <div class="col-lg-6 slider-home p-0">
            {{ include('_includes/slider_home.html.twig') }}
            <h1 class="d-block d-lg-none m-0 px-3">GBA</h1>
        </div>
    </div>


    </div>
	{#
	<div class="container text-center text-md-left">
   		<div class="row">
		  
			<div class="col-sm-5">
			
				<div class="vedio-box"  itemscope itemtype="https://schema.org/VideoObject">
				
					<meta itemprop="uploadDate" content="Tue Apr 14 2020 12:53:02 GMT+0200 (Central European Summer Time)"/>
					<meta itemprop="name" content="Best Vr 360 Video"/>
					<meta itemprop="duration" content="PT4M26S" />
					<meta itemprop="thumbnailUrl" content="https://content.jwplatform.com/thumbs/WMaKf4UG-640.jpg"/>
					<meta itemprop="contentUrl" content="https://content.jwplatform.com/videos/WMaKf4UG-9Wq4HKGe.mp4"/>
					<script src="https://cdn.jwplayer.com/players/WMaKf4UG-XSfL3WPQ.js"></script>



				</div>
			</div>
		</div>
	</div>
	#}
				

{#
			<div class="col-sm-5">
				<div id="videoarea">
				
					<div id="mediaspace"></div>
					<script type="text/javascript">
						jwplayer("mediaspace").setup({
						flashplayer: "jwplayer/player.swf",
						file: "jwplayer/Best VR 360 Video.mp4",
						//file: "https://www.youtube.com/watch?v=14O7AxqjiVY",
						//image: "jwplayer/preview.jpg",
						height: 389,
						width: 692,
						title: "Vedio Title"
						});
						console.log(file);
   					</script>
					 

				</div>

			</div>
   #}
   

  



{% endblock %}

 


{% block footer %}
    {% include 'templates/_includes/parts/footer.php' %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {{ encore_entry_script_tags('home') }}
	
    
{% endblock %}
