		{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
    
{% endblock %}
{% block title %}GBA Vedio3D 360!{% endblock %}

{% block body %}
        
        <div class="col-sm-5">
				<div id="videoarea">
				
					<div id="mediaspace"></div>
					<script type="text/javascript">
						jwplayer("mediaspace").setup({
						flashplayer: "/jwplayer/player.swf",
						file: "/vedios/". video.titre,
						//file: "https://www.youtube.com/watch?v=14O7AxqjiVY",
						//image: "/jwplayer/preview.jpg",
						height: 389,
						width: 692,
						title: "Vedio Title"
						});
						console.log(file);


   					</script>
                       </div>
                       </div>

    </div>
</div>

  {% endblock %}