		{% extends 'base.html.twig' %}
{% block stylesheets %}

    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
    <style>
        #photoarea, .col-sm-5{
            margin:0 ;
            width: 50%;
            height: 50%;
            

        p{
            text-align;center;
            margin:150px auto;
        }

    </style>
{% endblock %}
{% block title %}GBA Photo3D 360!{% endblock %}

{% block body %}


  <div class="con">
  
   <div class="row" >
     <div class="col-sm-5">
     <p>back</p>
		<div id="photoarea1"></div>
                
            <script>
            const container = document.body;         
            const scene = new THREE.Scene();
            const camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 1000 );
            const renderer = new THREE.WebGLRenderer();
            renderer.setSize( window.innerWidth, window.innerHeight );
            //document.body.appendChild( renderer.domElement );
            // pour toltipe

            container.appendChild( renderer.domElement );

            const  controls = new THREE.OrbitControls(camera, renderer.domElement);

            controls.rotateSpeed = 0.2;
            controls.enableZoom = false;
            controls.autoRotate = true;

            camera.position.set( 1, 0, 0 );
            controls.update();


            // sphare
            const geometry = new THREE.SphereGeometry( 50, 32, 32 );
            const textureloader = new THREE.TextureLoader();
            texture = textureloader.load('/uploadAvatar/photo3d/360.jpg');
            // pour assigner quelle que chose on interesant
            texture.wrapS = THREE.RepeateWrapping;
            texture.repeat.x = -1;
            const material = new THREE.MeshBasicMaterial( {
                //color: 0x00AA00,
                map: texture,
                side: THREE.DoubleSide,
            });
            const sphere = new THREE.Mesh( geometry, material );
            scene.add( sphere );

            
            function animate() {

                requestAnimationFrame(animate);

                controls.update();

                renderer.render( scene, camera );

            }
            animate();

            function onResize(){
                renderer.setSize(window.innerWidth,window.innerHeight);
                camera.aspect = window.innerWidth /  window.innerHeight;
                camera.updateProjectionMatrix();
            }
            window.addEventListener('resize',onResize);
           
            </script>

     </div>
   </div>
</div>

  {% endblock %}