<div id="search-service-offer" class="form-search">
	<div class="container mx-auto py-4 px-0">
				<h4 class="text-center mb-4 ">Trouvez le video dont vous avez besoin par choisir le category et le style</h4>
		<div class="skills flex-wrap">
					<div class="skill col-4 col-sm-2 m-0 p-0 d-flex flex-column align-items-center" data-skill="webdocumentaire">
				{% include "_includes/SVG_Style/webdocumentaire.svg" %}						
				<span>webdocumentaire</span>
			</div>
			<div class="skill col-4 col-sm-2 m-0 p-0 d-flex flex-column align-items-center" data-skill="tutoriel">
				{% include "_includes/SVG_Style/tutoriel.svg" %}
				<span>tutoriel</span>
			</div>
			<div class="skill col-4 col-sm-2 m-0 p-0 d-flex flex-column align-items-center" data-skill="promotion">
				{% include "_includes/SVG_Style/promotion.svg" %}
				<span>promotion</span>
			</div>
			<div class="skill col-4 col-sm-2 m-0 p-0 d-flex flex-column align-items-center" data-skill="jeu">
				{% include "_includes/SVG_Style/jeu.svg" %}
				<span>jeu</span>
			</div>
			
		</div>

		<div class="skills flex-wrap">
					<div class="skill1 col-4 col-sm-2 m-0 p-0 d-flex flex-column align-items-center" data-skill1="information">
				{% include "_includes/SVG_Style/information.svg" %}
				<span>information</span>
			</div>
			<div class="skill1 col-4 col-sm-2 m-0 p-0 d-flex flex-column align-items-center" data-skill1="formation">
				{% include "_includes/SVG_Style/formation.svg" %}
				<span>formation</span>
			</div>
			<div class="skill1 col-4 col-sm-2 m-0 p-0 d-flex flex-column align-items-center" data-skill1="patrimoine">
				{% include "_includes/SVG_Style/patrimoine.svg" %}
				<span>patrimoine</span>
			</div>
			<div class="skill1 col-4 col-sm-2 m-0 p-0 d-flex flex-column align-items-center" data-skill1="jeu">
				{% include "_includes/SVG_Style/jeu.svg" %}
				<span>jeu</span>
			</div>
			<div class="skill1 col-4 col-sm-2 m-0 p-0 d-flex flex-column align-items-center" data-skill1="tourisme">
					{% include "_includes/SVG_Style/tourisme.svg" %}
				<span>tourisme</span>
			</div>
			
		</div>

		{{form_start(search)}}
			<div class="container">
				<div class="container row m-0 justify-content-center">
					<div class="col-lg-3 mb-lg-0 mb-2">
						<div id="container_service_type">
							<input id="video_search_Category_disable" placeholder="Category of the Video" type="text" class="form-control" disabled>
							<input id="video_search_Style_disable"    placeholder="Style of the Video"    type="text" class="form-control" disabled>
							<button id="clear_service_type" type="button" class="btn">X</button>
						</div>
					</div>
					<div class="col-lg-3 mb-lg-0 mb-2">
						{{form_widget(search.Category)}}
					</div>
					<div class="col-lg-3 mb-lg-0 mb-2">
						{{form_widget(search.Style)}}
					</div>
					<div class="col-lg-2 d-flex justify-content-end">
						<button id="form-search-submit" type="submit" name="" class="btn btn-success">Rechercher</button> 
					</div>
				</div>
			</div>
		{{form_end(search)}}
	</div>
</div>
