<div class="container">
	<div id="navbar-profile" class="row m-0 justify-content-center">

		<a class="btn btn-primary mr-4" href="{{path('admin_index')}}">Vue des statistiques</a>
		<a class="btn btn-primary mr-2" href="{{path('back_management_user')}}">Gestion des utilisateurs</a>
		<a class="btn btn-primary ml-3" href="{{path('back_management_video')}}">Gestion des videos</a>
		<a class="btn btn-primary ml-3" href="{{path('back_management_photo')}}">Gestion des photos</a>
		

	</div>
	<br>
	<div id="navbar-profile" class="row m-0 justify-content-center">
	<a class="btn btn-primary ml-4" href="{{path('back_management_comment')}}">Gestion des commentaires des videos</a> 
		<a class="btn btn-primary ml-4" href="{{path('back_management_commentp')}}">Gestion des commentaires des photos</a> 

	</div>
</div>
