<div id="navbar-profile" class="d-flex justify-content-center">
  {% if app.user == user or is_granted("ROLE_ADMIN") %}
    <a href="#navbar-profile" class="px-3 py-1" data-informations="#edition">
      <span class="d-none d-lg-block">Mes informations</span>
      <span class="d-block d-lg-none">{% include "_includes/svg/user-full.svg" %}</span>
    </a>
  {% endif %}

</div>