{# Moyenne des notes du service #}
{#  {% set notation = video.averageRating %}  #}

{# Reste de la note à afficher sur 5 #}
{#  {% if notation %}  #}
 {#   {% set notationRest = (5 - notation) %}  #}
{#   {% endif %}  #}



{#
<div class="col-lg-4 col-md-6 my-4">
    <div class="post"> #}
  
     {#   <a href="{{ path('video_show', {'id': video.id}) }}">
            <h3 class="mt-2">{{ video.Category.CategoryName }}</h3>
            <h3 class="mt-2">{{ video.Style.StyleName }}</h3>
        </a>

        <div class="informations">
            
            <a href="{{ path('video_show', {'id': video.id}) }}">{{ video.title|slice(0,50) }}...</a>  
            <div class="container row">#}
             {#   <span class="container">{{ video.description }}</span>  #}
{#
                <div class="note ml-1 row">

                    {% if notation %}
                        {% for i in 1..notation %}
                            <span></span>
                        {% endfor %}

                        {% if notation != 5 %}
                            {% for i in 1..notationRest %}
                                <span style="background-color:#a09fca;"></span>
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                </div>
#}
{#
            </div>
            <small>Crée le {{ video.createdAt|date('d-m-Y') }}</small> 
        </div>
    </div>
</div>

#}