.post {
    min-height: 200px;
    padding: 20px;
    /* background: whitesmoke; */
    background:#cecedf;
    border-radius: 30px 0 0 0;
    position: relative;
    transition: box-shadow 0.3s ease;
}

.post:hover {
    border-color: #66ca89;
    box-shadow: #afafaf 5px 5px 10px;
}

.post .picture:hover {
    border-color: #66ca89;
}

.post .place {
    margin: 0;
}

.post .informations > a:hover {
    color: gray; 
    
}

.post .informations > div {
    margin-top: 1em;
}

.post .informations .price {
    color: #454475;
    font-style: italic;
    margin-right: 10px;
}

.note span {
    width: 10px;
    height: 10px;
    background: #454475;
    display: block;
    margin: auto 2px;
    border-radius: 100%;
}

.post .picture {
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    margin-bottom: 1em;
    background-blend-mode: lighten;
    background-color: #454475;
    border-radius: 100%;
    position: absolute;
    top: -25px;
    left: 15px;
    border: solid 5px;
    border-color: white;
    transition: border-color 0.3s ease;
}

.post.best-users {
    min-height: inherit;
}
.best-users .skills-user svg {
    width: 40%;
    fill: var(--blue);
}

.best-users .note {
    display: block;
    width: 7px;
    height: 7px;
    background: var(--blue);
    border-radius: 100%;
    margin: 0 2px;
}
.best-users .note.note-rest {
    background: #a09fca;
}
.best-users .inscription {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#mediaspace,#videoarea{
    margin:50px auto;
    text-align:center;
    width:800px;
    height: 500px;     
}