{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
{% endblock %}


{% block body %}
    

    {{ form_start(registrationForm) }}
        <h1>Inscription</h1>
     {{ form_row(registrationForm.email) }}<p>
        {{ form_row(registrationForm.plainPassword) }}<p>
        {{ form_row(registrationForm.firstName) }}<p>
        {{ form_row(registrationForm.lastName) }}<p>
 {# {{ form_row(registrationForm.agreeTerms) }} #}
        <button class="btn">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
