/* SLIDER */
.slider {
    margin: 0 auto;
    max-width: 940px;
    height: 100%;
}

.slide_viewer {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slide_group {
    height: 100%;
    position: relative;
    width: 100%;
}

.slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}

.slide:first-child {
    display: block;
}

.slide:nth-of-type(1) {
    background: #D7A151;
}

.slide:nth-of-type(2) {
    background: #F4E4CD;
}

.slide:nth-of-type(3) {
    background: #C75534;
}

.slide:nth-of-type(4) {
    background: #D1D1D4;
}

.slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
}

.directional_nav {
    height: 340px;
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -340px;
}

.previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 0;
}

.next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 0;
}

.previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
}

.previous_btn:hover, .next_btn:hover {
    opacity: 1;
}
#mediaspace,#videoarea{
    margin:50px auto;
    text-align:center;
    width:800px;
    height: 500px;     
}

@media only screen and (max-width: 767px) {
    .previous_btn {
        left: 50px;
    }
    .next_btn {
        right: 50px;
    }
}



/* SLIDER-CUSTOM*/
.next_btn,
.previous_btn,
.slide_buttons {
    display: none;
}

.slide_group > .slide {
    background-position: center;
    background-size: cover;
    background-color: white;
    /*background-blend-mode: luminosity;*/
}

.slider {
    position: relative;
}
.slider::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, transparent 75%, white 100%);
}
.slider-home {
    height: 50vh;
    position: relative;
    background-position-y: bottom;
    background-position-x: center;
    background-size: cover;
    background-color: white;
    background-blend-mode: luminosity;
    border-radius: 50px 0 0;
    overflow: hidden;
    z-index: -1;
}

/* HOME */
.welcome {
    height: calc(100vh - 130px);
}
@media screen and (min-width: 768px) {
    .welcome h2 {
        font-size: 4em;
        color: var(--blue);
    }
}
@media screen and (max-width: 768px) {
    .welcome h1 {
        color: var(--blue);
        position: absolute;
        bottom: 0;
        background: white;
        left: 0;
        border-radius: 0 20px 0 0;
    }
}
@media screen and (max-width: 992px) {
    .welcome {
        height: calc(100vh - 75px);
        flex-direction: column-reverse;
        justify-content: space-around;
    }
    .slider-home {
        height: 40vh;
        width: calc(100% + 32px);
    }
  
}

