/*TIMELINE*/
.timeline * {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.timeline > h2 {
    font-size: 2em;
    text-align: center;
}
.timeline-items {
    margin-top: 50px;
}
.timeline-item {
    width: calc(50% - 100px);
    padding: 50px;
    padding-top: 0;
    position: relative;
}
.timeline-item h4 {
    font-size: 1.5em;
}
.timeline-item > *:first-child {
   margin-top: 0;
}
.timeline-item::before {
    content: '';
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    background: white;
    border: gray solid 2px;
    border-radius: 100%;
    transition: background 0.3s ease, border-color 0.3s ease;
}
.timeline-item:nth-child(2n - 1) {
    text-align: right;
    border-right: gray solid 2px;
}
    .timeline-item:nth-child(2n - 1)::before {
        right: -11px;
    }
.timeline-item:nth-child(2n) {
    margin-left: 50%;
    border-left: gray solid 2px;
}
    .timeline-item:nth-child(2n)::before {
        left: -11px;
    }

.user-choice {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
    padding: 50px;
}
.user-choice > span {
    font-size: 1.2em;
}
.choice-items  {
   margin-left: 20px;
}
.choice-items input {
   height: 2em;
   margin-right: 7px;
}
.choice-items label {
    margin: 0; 
}

.timeline-choice {
    padding-top: 50px;
    transition: padding-top 0.5s ease;
}
.timeline-choice > div {
    display: none;
}
.timeline-choice > div > .timeline-item:first-child {
    padding-top: 50px;
}
.timeline-choice .timeline-item:first-child::before {
    top: 50px;
}

.timeline-item.view::before {
    background: var(--green);
    border-color: var(--green);
}

@media screen and (max-width: 768px) {
    .timeline-item {
        width: 100%;
        padding: 50px;
        padding-top: 0;
        position: relative;
    }
    .timeline-item:nth-child(2n) {
        margin-left: 0;
    }
    .timeline-item:nth-child(2n - 1) {
        text-align: left;
        border-left: gray solid 2px;
        border-right: none;
    }
    .timeline-item:nth-child(2n - 1)::before {
        left: -11px;
    }
    .user-choice {
        width: 100%;
        border-left: solid gray 2px;
    }
    .timeline-client, 
    .timeline-recipient {
        padding-left: 20px;
    }
    .timeline-items > .timeline-item,
    .user-choice {
        margin-left: 20px;
        padding-right: 20px;
        width: calc(100% - 76px);
        flex-direction: column;
        align-items: flex-start;
    }
    .timeline-choice .timeline-item {
        padding-right: 20px;
        width: calc(100% - 55px);
    }
    .timeline-client > .timeline-item {
        padding-right: 0;
        padding-right: 20px;
        width: calc(100% - 56px);
    }
}