.price,
.price * {
    color: var(--green);
}

.hour {
    font-size: 0.5em;
}

#heart {
    height: 2em;
    fill: #d42424;
}

.post-content {
    background-color: whitesmoke;
}

.informations-user {
    height: 80px;
    display: inline-flex;
    background: whitesmoke;
    padding: 10px;
    border-radius: 15px 0 0 0;
    box-shadow: #afafaf 5px 5px 10px;
}

.informations-user p,
.informations-user span {
    margin: 0;
}

#picture {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background-position: center;
    background-size: cover;
    background-blend-mode: lighten;
    background-color: #454475;
    border-radius: 100%;
    border: solid 5px;
    border-color: var(--green);
}

.number-publications {
    font-size: 0.8em;
    color: var(--green);
}

.skills-user {
    padding: 40px 10px 10px;
    margin: -30px 0 0 20px;
    border: solid 1px var(--blue);
    border-radius: 20px;
}

.skills-user svg {
    width: 60%;
    fill: var(--blue);
}

.skills-user span {
    color: var(--blue);
    font-size: 0.8em;
}

.note span {
    width: 10px;
    height: 10px;
    background: #454475;
    display: block;
    margin: auto 2px;
    border-radius: 100%;
}

.comments {
    background: whitesmoke;
    padding: 20px;
    width: calc(100% + 40px);
    margin-left: -15px;
}

.comment {
    position: relative;
    margin: 0 0 20px 0;
}
.comment .picture {
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    margin-bottom: 1em;
    background-blend-mode: lighten;
    background-color: #454475;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: solid 5px;
    border-color: white;
    transition: border-color 0.3s ease;
}
.comment .picture:hover {
    border-color: var(--green);
}

.comment-content {
    width: calc(100% - 60px);
    margin: 20px 0 0 60px;
    padding: 15px;
    border: solid 1px gray;
    border-radius: 0 20px 20px;
}
.comment-content > *:last-child {
    margin-bottom: 0;
}
.comment-content .report {
    position: absolute;
    top: 0;
    right: 0;
}

.date-comment {
    position: absolute;
    top: 2px;
    right: 40px;
    font-size: 0.8em;
}

.report {
    font-size: 0.9em;
}
.report:hover {
    color: #d42424;
}


/* MAP */
#mapContainer {
    width: 100%;
    height: calc(100vh + 20px);
    position: sticky!important;
    top: 0;
}



@media (max-width: 992px) {
    #mapContainer {
        height: calc(100vh - 60px);
        width: 100%;
        position: fixed!important;
        z-index: 80;
        top: 0;
        left: 0;
        transition: transform 0.3s ease;
    }
    #mapContainer.hidden {
        transform: translateX(-100%);
    }
    .post-content {
        background: none;
        margin-bottom: 2rem;
    }
    .post-content > div {
        padding: 0!important;
    }
    .skills-user {
        margin: -10px 0 0;
    }
    .map-show {
        display: block;
    }
    .map-show svg {
        color: var(--blue);
        transition: color 0.3s ease;
    }
    .map-show.hidden svg {
        color: gray;
    }
    h2 {
        font-size: 1.5rem;
    }
    .comment-content {
        width: 100%;
        margin: 60px 0 0 0px;
    }
    .comment-content .report {
        top: 30px;
    }
    .date-comment {
        top: 30px;
        right: 30px;
    }
}

/* DATETIME PICKER */
.xdsoft_date, .xdsoft_time {
    transition: background 0.2s ease, color 0.2s ease;
}
.hour-disabled {
    /* text-decoration: line-through; */
    pointer-events: none;
    background: whitesmoke!important;
    color: #d42424!important;
}

