{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
    <style>
 label{
    color:white;
}
.col{
    text-align:center;  
}
    </style>
{% endblock %}
{% block title %}Edit Comment{% endblock %}

{% block body %}

<div class="container">
    <h1>Edit Comment</h1>
<div class="row">
<div class="container mb-4 p-0">
    {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}
</div>
</div>
<div class="row">
   <div class="col"> <a href="{{ path('video_index') }}"><h6>back to video</h6></a></div>
</div>

{#    {{ include('comment/_delete_form.html.twig') }}  #}
    

{% endblock %}
