{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
    <style>
 label{
    color:white;
}
    </style>
{% endblock %}
{% block title %}Edit Category{% endblock %}

{% block body %}
    
    <div class="container">
    <h1>Edit Category</h1>
    <div class="row">
<div class="container mb-4 p-0">
    {{ include('category/_form.html.twig',{'button_label': 'Update'}  ) }}
</div>
</div>

<div class="row">
    <div class ="col"> <a href="{{ path('category_index') }}">back to list</a></div>
    
</div>
</div>
{% endblock %}
