{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>CategoryName</th>
                <td>{{ category.categoryName }}</td>
            </tr>
        </tbody>
    </table>
<div>
<div class="row">
   <div class="col"> <a href="{{ path('category_index') }}">back to list</a></div>
   <div class="col"><a href="{{ path('category_edit', {'id': category.id}) }}">edit</a></div>
   <div class="col">   {{ include('category/_delete_form.html.twig') }} </div>
   {#  <a href="{{ path('category_delete', {'id': category.id}) }}">delete</a>  #}
  
</div>
    {#  {{ include('category/_delete_form.html.twig') }}  #}
    
{% endblock %}
