{% extends 'base.html.twig' %}

{% block title %}Administration - Gestion 
{% endblock %}

{% block body %}
<div class="container my-4 d-flex justify-content-center">
	<h3>Statistiques</h3>
</div>
{% include '_includes/navbarAdmin.html.twig' %}
	<div class="container">
       	 <div class="row align-items-start mt-0">
			<div class="col-6">
				<div class="card bg-primary text-white mb-3 text-center">
					<div class="card-body">
						<div class="row">
							<div class="col-4">
								<div class="iconadmin mt-3">{% include '_includes/svg/user-regular.svg' %}</div>
										
							</div>
								<div class="col-6">
									<h5 class="card-title mt-4">{{ users | length }} Utilisateurs</h5>
								</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="card bg-info text-white mb-3 text-center">
					<div class="card-body">
						<div class="row">
							<div class="col-4">
								<div class="iconadmin mt-3">{% include '_includes/svg/folder-regular.svg' %} </div>
							
							</div>
							<div class="col-6">
							<h5 class="card-title mt-4">{{ video | length }} Video</h5>
							</div>
						</div>
					</div>
				</div>
        	</div>
    	</div>
    <div class="row align-items-start ml-6">
		<div class="col-6">
			<div class="card bg-warning text-white mb-3 text-center">
				<div class="card-body">
					<div class="row">
						<div class="col-4">
							 <div class="iconadmin mt-3">{% include '_includes/svg/comments-regular.svg' %} 
							</div>
						</div>
						<div class="col-6">
							<h5 class="card-title mt-4">{{ comment | length }} Commentaires</h5>  
						</div>
					</div>
				</div>
			</div>
		</div>

			<div class="col-6">
				<div class="card bg-info text-white mb-3 text-center">
					<div class="card-body">
						<div class="row">
							<div class="col-4">
								<div class="iconadmin mt-3">{% include '_includes/svg/folder-regular.svg' %} </div>
							
							</div>
							<div class="col-6">
							<h5 class="card-title mt-4">{{ photo | length }} Photo</h5>
							</div>
						</div>
					</div>
				</div>
        	</div>
			</div>

	</div> 
		
		
	</div>
</div>
</div>
</div>
{% endblock %}
