{% extends 'base.html.twig' %}

{% block title %}ManagementController!
{% endblock %}

{% block body %}
<div class="container my-4 d-flex justify-content-center">
	<h3>Gestion des Photos</h3>
</div>
{% include '_includes/navbarAdmin.html.twig' %}
	<div class="col-md-12">
		<div class="example-wrapper">
			<div class="container-fluid">
            	<div class="container my-4 d-flex justify-content-center">
		{{ knp_pagination_render(knp) }}
	</div>
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th class="text-center" scope="col">Id</th>
							<th class="text-center" scope="col">Titre du Photo</th>
							<th class="text-center" scope="col">Category du Photo</th>
							<th class="text-center" scope="col">Style du Photo</th>
							<th class="text-center" scope="col">Nom du User</th>
							<th class="text-center" scope="col">Crée le</th>
							{#   <th class="text-center" scope="col">Signalé</th>  #}
							<th class="text-center" scope="col"></th>
							<th class="text-center" scope="col"></th>
						</tr>
					</thead>

					{% for photo in management %}

						<tbody>
							<tr>
								<td class="text-center"><span class="badge badge-info">{{ photo.id }}</span></td>
								<td class="text-center">{{ photo.Titre}}</td>
								<td class="text-center">{{ photo.Category.categoryName}}</td>
								<td class="text-center">{{ photo.Style.StyleName}}</td>
								<td class="text-center">{{ photo.user.lastName }}</td>
								<td class="text-center">{{ photo.createdAt | date('d-m-Y') }}</td>

								<td class="text-center">
									<a href="{{ path('photo_edit', {'id': photo.id}) }}" title="Editer"><div class="edit">{% include '_includes/svg/edit-regular.svg' %}</div>
									</a>
								</td>
								<td class="text-center">
									<a onclick="return confirm('Êtes-vous sûr de supprimer cette photo ? (Cette action est irréversible)');"
										href="{{ path('photo_delete', {'id': photo.id}) }}" title="Supprimer"><div class="delete">{% include '_includes/svg/trash-alt-regular.svg' %}</div>
									</a>
								</td>	
							</tr>
						</tbody>

					</div>
				{% endfor %}
			</table>
		</div>
	</div>
	<div class="container my-4 d-flex justify-content-center">
		{{ knp_pagination_render(knp) }}
	</div>

{% endblock %}
