{% extends 'base.html.twig' %}

{% block title %}Administration - Gestion des commantaires
{% endblock %}

{% block body %}
<div class="container my-4 d-flex justify-content-center">
	<h3>Gestion des commentaires</h3>
</div>
{% include '_includes/navbarAdmin.html.twig' %}

	<div class="col-md-12">
		<div class="example-wrapper">
			<div class="container-fluid">
            	<div class="container my-4 d-flex justify-content-center">
					{{ knp_pagination_render(knp) }}
				</div>
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th class="text-center" scope="col">Id commentaire</th>
							<th class="text-center" scope="col">Id Video</th>
							<th class="text-center" scope="col">Id User</th>
							<th class="text-center" scope="col">Crée le</th>
							<th class="text-center" scope="col">Note</th>
							<th class="text-center" scope="col">Contenu</th>
							<th class="text-center" scope="col"></th>
							<th class="text-center" scope="col"></th>
						</tr>
					</thead>

					{% for comments in management %}

						<tbody>
							<tr>
								<td class="text-center"><span class="badge badge-info">{{ comments.id }}</span></td>
								<td class="text-center"><span class="badge badge-info">{{ comments.video.id }}</span></td>
								<td class="text-center"><span class="badge badge-info">{{ comments.user.id }}</span></td>
								<td class="text-center">{{ comments.createdAt | date('d-m-Y') }}</td>
								<td class="text-center"><span class="badge badge-success">{{ comments.rating }}</span></td >
								<td class="text-center"><a href="{{ path('video_show', {'id': comments.Video.id}) }}" target="_blank">{{ comments.comment | slice(0,50)}} ...</a></td>
						{#{% if comments.isReport %}
								<td class="text-center"><span class="badge badge-danger">Oui</span></td>
								{% else %}
								<td class="text-center"><span class="badge badge-success">Non</span></td>	
								{% endif %}	 #}		
								<td class="text-center">
									<a 
									href="{{ path('comment_edit', {'id': comments.id}) }}" title="Editer"><div class="edit">{% include '_includes/svg/edit-regular.svg' %}</div>
									</a>
								</td>
								<td class="text-center">
									<a 
										onclick="return confirm('Êtes-vous sûr de supprimer ce commentaire ? (Cette action est irréversible)');"
										href="{{ path('comment_delete', {'id': comments.id}) }}" title="Supprimer">
										<div class="delete">{% include '_includes/svg/trash-alt-regular.svg' %}</div>
									</a>
								</td>	
							</tr>
						</tbody>
					</div>
				{% endfor %}
			</table>
		</div>
	</div>
	<div class="container my-4 d-flex justify-content-center">
		{{ knp_pagination_render(knp) }}
	</div>
	
{% endblock %}
