{% extends 'base.html.twig' %}

{% block title %}ManagementController!
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container my-4 d-flex justify-content-center">
		<h3>Gestion des utilisateurs</h3>
	</div>
	{% set user = "ROLE_USER" %}

	{% include '_includes/navbarAdmin.html.twig' %}
	<div class="col-md-12">
		<div class="example-wrapper">
			<div class="container-fluid">
				<div class="container my-4 d-flex justify-content-center">
					{{ knp_pagination_render(knp) }}
				</div>
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th class="text-center" scope="col">Id</th>
							<th class="text-center" scope="col">Email</th>
							<th class="text-center" scope="col">Prénom</th>
							<th class="text-center" scope="col">Nom</th>
							{% if is_granted("ROLE_SUPER_ADMIN") %}
							<th class="text-center" scope="col">Administrateur</th>
														{% endif %}

						    <th class="text-center" scope="col"></th>
							<th class="text-center" scope="col"></th>
						</tr>
					</thead>

					{% for userManagement in management %}

						<tbody>
							<tr>
								<td class="text-center">
									<span class="badge badge-info">{{ userManagement.id }}</span>
								</td>
								<td class="text-center">{{ userManagement.email }}</td>
								<td class="text-center">{{ userManagement.firstName }}</td>
								<td class="text-center">{{ userManagement.lastName }}</td>
								{% if is_granted("ROLE_SUPER_ADMIN") %}

								<td class="text-center">


									<div class="d-flex justify-content-center">

										{% set admin = "ROLE_ADMIN" %}
										{% set user = "ROLE_USER" %}
										{% for role in userManagement.roles %}
											{% if role == admin %}
												<div class="isadmin" title="Si cette icône apparaît, cela veut dire que l'utilisateur est administrateur. Si vous souhaitez enlever les droits administrateur à cet utilisateur, cliquez sur le lien nommé Utilisateur juste en dessous à droite.">
													{% include '_includes/svg/user-shield-solid.svg' %}
												</div>

											{% else %}

												<div class="isadmin ml-3">{% include '_includes/svg/user-regular.svg' %}</div>

											{% endif %}
										{% endfor %}
									</div>

									<br>
									<div class="d-flex justify-content-center">

										<a href="{{ path('change_roleAdmin', {'id': userManagement.id}) }}" title="Si vous cliquez sur ce lien, l'utilisateur obtiendra les droits administrateur">Administrateur</a>
										<a class="ml-1" href="{{ path('change_roleUser', {'id': userManagement.id}) }}" title="Si l'utilisateur a les droits administrateur et que vous cliquez sur ce lien, l'utilisateur sera promu en tant qu'utilisateur et perdra les droits administrateur.">Utilisateur</a>
									</div>

								</td>
								{% endif %}
								<td class="text-center">
									<a href="{{path('user_show', {'id': userManagement.id}) }}" target="_blank">
										<div class="useradmin">{#<img src="{{ userManagement.avatar }}"#} title="profil de {{ userManagement.firstName }} {{ userManagement.lastName }}"></div>
									</a>
								</td>
								{# <td class="text-center">{{ userManagement.city }}</td>  #}
								{#
								{% if userManagement.isReport %}
								<td class="text-center"><span class="badge badge-danger">Oui</span></td>
								{% else %}
								<td class="text-center"><span class="badge badge-success">Non</span></td>	
								{% endif %}
								#}
								<td class="text-center">
									<a href="{{ path('user_edit', {'id': userManagement.id}) }}" title="Editer">
										<div class="edit">{% include '_includes/svg/edit-regular.svg' %}</div>
									</a>
								</td>
								<td class="text-center">
									<a onclick="return confirm('Êtes-vous sûr de supprimer cette annonce ? (Cette action est irréversible)');" href="{{ path('user_delete', {'id': userManagement.id}) }}" title="Supprimer">
										<div class="delete">{% include '_includes/svg/trash-alt-regular.svg' %}</div>
									</a>
								</td>
							</tr>
						</tbody>

					</div>
				{% endfor %}
			</table>
		</div>
	</div>
	<div class="container my-4 d-flex justify-content-center">
		{{ knp_pagination_render(knp) }}
	</div>

{% endblock %}
