{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
    
{% endblock %}
{% block title %}Edit Style{% endblock %}

{% block body %}

<div class = "container">
    <h1>Edit Style</h1>
    <div class="row">
        <div class="col">
            <div class="container mb-4 p-0">
                {{ include('style/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col"><a href="{{ path('style_index') }}">back to list</a></div>

    </div>
</div> 
{% endblock %}
