{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
    
{% endblock %}
{% block title %}New Style{% endblock %}

{% block body %}
    <h1>Create new Style</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="container mb-4 p-0">
                {{ include('style/_form.html.twig') }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">     <a href="{{ path('style_index') }}">back to list</a></div>
    </div>
</div>
{% endblock %}
