{% extends 'base.html.twig' %}

{% block title %}Style{% endblock %}

{% block body %}
    <h1>Style</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ style.id }}</td>
            </tr>
            <tr>
                <th>StyleName</th>
                <td>{{ style.styleName }}</td>
            </tr>
        </tbody>
    </table>
<div class="row">
       <div class="col"> <a href="{{ path('style_index') }}">back to list</a></div>

        <div class="col"><a href="{{ path('style_edit', {'id': style.id}) }}">edit</a></div>

        <div class="col">{{ include('style/_delete_form.html.twig') }}</div>
</div>
{% endblock %}
