#header-profile {
    background: var(--blue);
    position: sticky;
    top: 0;
    border-top: solid white 2px;
    z-index: 100;
}
#search_found {
    color: gray;
}
.form-error-message {
    color: #d9534f;
}
#header-profile svg,
.report,
h4, 
span {
    color: white;
}
#navbar-profile > a {
    margin: 0 5px;
    border-radius: 15px;
    transition: background 0.3s ease;
}
#header-profile .current {
    background: white;
}
#header-profile span {
    letter-spacing: 0;
    transition: color 0.3s ease;
}
#header-profile .current span {
    color: var(--blue);
}
#anchor {
    height: 2px; 
}

.help .picture {
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    margin-bottom: 1em;
    background-blend-mode: lighten;
    background-color: #454475;
    border-radius: 100%;
    border: solid 5px;
    border-color: white;
    transition: border-color 0.3s ease;
}
.help .picture:hover {
    border-color: var(--green);
}

#navbar-profile svg {
    height: 30px;
    margin: 0 20px;
}
.custom-file-label::after {
    content: "Chercher";
}
.report:hover {
    color: #d9534f;
}

.chat i {
    transition: color 0.3s ease;
}
.chat:hover i {
    color: var(--green);
}

.show-infos svg {
    height: 40px;
}
.show-infos {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 30px;
    height: calc(100% - 20px);
    display: flex;
    align-items: center;
    cursor: pointer;
    transform: scale(1);
    transition: color 0.3s ease, transform 0.3s ease;
}
.show-infos:hover {
    transform: scale(1.2);
}
.show-infos.hidden svg {
    color: var(--blue)!important;
}

.infos-profile {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 220px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    background: white;
    border: solid 1px var(--blue);
    border-right: none;
    transform: translateX(0);
    transition: transform 0.3s ease;
}
.infos-profile > * {
    color: gray;
    margin: 0 10px;
}
.infos-profile.hidden {
    transform: translateX(100%);
}

#heart > svg {
    fill: gray;
    height: 20px;
    transform: translateY(-3px);
}
#heart:hover > svg {
    fill: #d42424;
}
#heart.full * {
    fill: #d42424;
    height: 20px;
    transform: translateY(-2px);
}

@media (min-width: 992px) {
    #header-profile {
        overflow: hidden;
    }
}
@media (max-width: 992px) {
    #anchor {
        position: absolute;
        top: 0;
    }
    #header-profile {
        padding: 0!important;
    }
    #header-profile > div {
        width: calc(100% + 32px);
        transform: translateX(-16px);
        padding: 1.5rem;
        background: var(--blue);
        overflow: hidden;
    }
    #navbar-profile {
        margin-top: 30px;
    }
    #navbar-profile a {
        border: none;
        padding: 0!important;
    }
    #header-profile .current {
        background: none;
    }
    #header-profile svg {
        transition: color 0.3s ease;
    }
    #header-profile .current svg {
        color: var(--green);
    }
    h1, h2 {
        font-size: 1.5rem;
    }
    #header-profile h4 {
        font-size: 1.2rem;
    }
    #user_edit_birthday {
        display: flex;
    }
    #user_edit_birthday > select {
        width: auto;
        flex-grow: 1;
    }
    .chat i {
        color: gray;
        font-size: 1.5rem;
    }
}