{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('posts') }}
	<style>
	p{
 margin:20px;
 overflow: hidden;
 text-overflow: ellipsis;
 display: -webkit-box;
 -webkit-line-clamp: 3;
 -webkit-box-orient: vertical;
}

	</style>
{% endblock %}

{% block body %}
	{% include '_includes/form_Photo.html.twig' %}
	
		{% if photo %}
        
			{% for pho in photo %}

    <div class="col-lg-4 col-md-6 my-4">
		<div class="post">
  
            <a href="{{ path('photo_show', {'id': pho.id}) }}">
               
                <h6 class="mt-2">Category:{{ pho.Category.CategoryName }}</h6>
                <h6 class="mt-2">Style: {{ pho.Style.StyleName }}</h6>
				<p class="mt-2">Describtion: {{ pho.description }}</p>
                <p class="mt-2">CreatedAt: {{ pho.createdAt|date('d-m-Y')}}</p>
            </a>
        </div>
    </div>
	

		{% endfor %}
		{% else %}
			Aucun résultat
		{% endif %}


	<div class="container my-4 d-flex justify-content-center">
		{{ knp_pagination_render(photo) }}
	</div>




   
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script>
	
var skill = document.querySelectorAll('.skill');
var skill1 = document.querySelectorAll('.skill1');

console.log(skill);
console.log(skill1);
//#service_offer_search_ServiceType
var fieldType = document.querySelector('#photo_search_Category');
var fieldType1 = document.querySelector('#photo_search_Style');
var fieldType2 = document.querySelector('#photo_search_Category_disable');
var fieldType3 = document.querySelector('#photo_search_Style_disable');


for (var i = 0; i < skill.length; i++) {
    var theSkill = skill[i];
    
    theSkill.addEventListener('click', function () {
        var field = this.dataset.skill;
        fieldType.value = field;
       // fieldType2.value = field;
       fieldType2.value = this.dataset.skill;

    })
}
for (var i = 0; i < skill1.length; i++) {
    var theSkill1 = skill1[i];
    theSkill1.addEventListener('click', function () {
        var field = this.dataset.skill1;
        fieldType1.value = field;
        fieldType3.value = this.dataset.skill1;

    })


}


var equal = ("#form-search-submit");
document.onload = function equal(){
    fieldType2.value = fieldType.value;
    fieldType3.value = fieldType1.value;
}


var btnClear = document.querySelector("#clear_service_type");
if(btnClear !=null){
btnClear.addEventListener('click', function () {
    fieldType2.value = "";
    fieldType3.value = "";
    fieldType.value = "";
    fieldType1.value = "";
})
}
if(fieldType !=null){
if(fieldType.value.length > 0)
{
    fieldType2.value = fieldType.value;   
    
}
}
if(fieldType1 !=null){
    if(fieldType1.value.length > 0)
    {
           
        fieldType3.value = fieldType1.value;  
    }
    }





	</script>

{% endblock %}











