
<div class="container jumbotron">
{{ form_start(form) }}
    {{ form_row(form.rating) }}
    {{ form_row(form.comment) }}
  <button class="btn btn-success mt-2 ml-3">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
</div>
