{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
    
{% endblock %}
{% block title %}New Comment{% endblock %}

{% block body %}
    <h1>Create new Comment</h1>
<div class="container">
        <div class="row">
            <div class="col">
                <div class="container mb-4 p-0">
                     {{ include('commentP/_form.html.twig') }}
                </div>
            </div>
        </div>
        <div class="row">
       <div class="col"> <a href="{{ path('commentp_index') }}">back to list</a></div>

        </div>
</div>


{% endblock %}
