{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('posts') }}
<style>
.row{
    margin :150px auto;
}
</style>

{% endblock %}
{% block title %}Comment{% endblock %}

{% block body %}

    <h1>Comment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ comment.rating }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ comment.comment }}</td>
            </tr>
        </tbody>
    </table>
<div class="row">
    <div class="col"><a href="{{ path('photo_index') }}"><h6>back_to_Photo</h6></a></div>


    </div>
    
{% endblock %}
