body {
    margin: 0;
    background-color:white;
    color:black;
   
}
p, a, span, label, small, legend {
    color: gray;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}
a {
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover {
    color: #454475;
}
h1, h2, h3, h4 {
    font-family: 'Rubik', sans-serif;
    color: gray;
}

#page {
    min-height: calc(100vh - 140px);
}
button:focus {
    outline: none!important;
}
.bg-whitesmoke {
    background-color: whitesmoke;
}
.page-link {
    transition: background-color 0.3s ease;
}
.invalid-feedback > span {
    margin-bottom: 2px;
}

/*CHARTER*/

#site-logo path {
    fill: gray;
    transition: fill 0.3s ease;
    
}

#site-logo:hover path {
    fill: #454475;
}

.btn {
    transform: scale(1);
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
}


/*HEADER*/
#site-logo {
    width: 60px;
    margin: 0;
}
#site-logo svg {
    min-width: 50px;
}
#container-logo {
    height: 100%;
}
@media (max-width: 580px) {
    header > nav > button {
        display: none;
    }
    header #navigation {
        display: none;
    }
}
@media (min-width: 992px) {
    header > nav {
        max-width: 960px;
        margin-left: calc((100vw - 960px)/2);
        padding: 50px 0!important;
    }
    #container-logo {
        width: calc((100vw - 960px)/2);
        min-width: calc((100vw - 960px)/2);
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);
    }
}
@media (min-width: 1200px) {
    header > nav {
        max-width: 1140px;
        margin-left: calc((100vw - 1140px)/2);
        padding: 50px 0!important;
    }
    #container-logo {
        width: calc((100vw - 1140px)/2);
        min-width: calc((100vw - 1140px)/2);
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);
    }
}

header .picture,
#container-button .picture-header {
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    background-blend-mode: lighten;
    background-color: #454475;
    border-radius: 100%;
    border: solid 5px;
    cursor: pointer;
}
a.dropdown-item:active {
    background-color:white;
}

.notifications {
    position: absolute;
    top: 0;
    right: -30px;
    z-index: 1;
    width: 27px;
    height: 27px;
    color: white!important;
    background: var(--green);
    text-align: center;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 992px) {
    #navigation {
        position: absolute;
        width: 100%;
        top: 64px;
        left: 0;
        padding: 0 16px!important;
        background: white;
        z-index: 100;
    }
}

/* NAVIGATION MOBILE */

#container-navigation-mobile {
    display: none;
    position: fixed;
    flex-direction: column;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    z-index: 90;
}
#container-navigation-mobile > #navigation-mobile {
    background: white;
    box-shadow: grey 0 2px 10px;
    width: 100%;
    text-align: center;
    padding: 20px;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    position: absolute;
    top: 0;
}
#container-navigation-mobile > #container-button {
    height: 70px;
    width: 100%;
    padding: 5px 15px;
    background: white;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}
@media (max-width: 992px) {
    #container-navigation-mobile {
        display: flex;
    }
    .map-show {
        display: none;
        cursor: pointer;
    }
    .map-show svg {
        width: 30px;
        color: gray;
    }
    #container-button .notifications {
        right: 55px;
    }
    footer {
        padding-bottom: 68px!important;
    }
}

#container-navigation-mobile > #navigation-mobile.hidden {
    transform: translateY(0);
    transition: transform 0.3s ease;
}

/* FOOTER */
footer {
    width: 100%;
    background-color: var(--blue);
    z-index: 10;
}
footer * {
    color: white;
}
footer a:hover {
    color: white;
}

/* CUSTOM */
.picture > span {
    position: absolute;
    left: 60px;
    background: gray;
    color: white;
    padding: 5px;
    font-size: 0.8em;
    border-radius: 10px;
    transform: translateX(-40px) scale(0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    transition: opacity 0.2s ease, transform 0.2s ease, visibility;
    transition-delay: 0s, 0s, 0.2s;
}
.picture > span::before {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0.8em 12px 0.8em 0;
    border-color: transparent gray transparent transparent;
    vertical-align: middle;
    margin-right: 5px;
    position: absolute;
    left: -8px;
    top: 4px;
    border-radius: 10px;
}
.picture:hover span {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px) scale(0.8);
    transition: opacity 0.2s ease, transform 0.2s ease, visibility;
    transition-delay: 0s, 0s, 0s;
}

button.close {
    opacity: 1;
    transform: scale(1);
    transition: transform 0.2s ease;
}
button.close > span {
    color: white;
}
button.close:hover {
    opacity: 1!important;
    transform: scale(1.1);
}


/* LOGIN */
#password-forget {
    color: white;
    font-size: 0.9em;
}
#password-forget:hover {
    color: white;
}

/* EDIT OR DELETE IN ADMIN INTERFACE*/
.delete svg {
    width: 22px;
    height: 22px;
    transform: scale(1);
    transition: transform 0.2s ease;
}
.delete svg:hover {
    transform: scale(1.3);
}
.delete svg * {
    fill: #BB0B0B;
}
.edit svg {
    width: 22px;
    height: 22px;
    transform: scale(1);
    transition: transform 0.2s ease;
}
.edit svg * {
   fill: #454475;
}
.edit svg:hover {
    transform: scale(1.3);
}
/* BUTTON BACK TO TOP */

#buttontop {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #454475;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    margin: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s, background 0.3s ease;
    transition-delay: 0s, 0.3s;
  }
  #buttontop.show {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s, 0s;
  }
  #buttontop:hover {
    cursor: pointer;
    background-color: gray;
  }
  #buttontop:active {
    background-color: var(--green);
  }
  #buttontop svg {
      color: white;
      padding-bottom: 5px;
      width: 80%;
  }
  .iconadmin svg{
      height: 40px;
      width: 40px;
  }
  @media (max-width: 768px) {
    
    #site-logo {
        width: 50px;
        padding-left: 10px;
    }
    #site-logo svg {
        min-width: 20px;
    }
}
@media (max-width: 992px) {
    #buttontop {
        transform: translateX(100%);
        display: inline-block;
        background-color: #ffffff;
        width: 90px;
        height: 50px;
        margin: 0;
        text-align: center;
        border-radius: 4px;
        position: fixed;
        bottom: 65px;
        right: 0;
        z-index: 1000;
        visibility: visible;
        opacity: 1;
        border-radius: 20% 0 0;
        transition: transform 0.3s ease;
        transition-delay: 0.2s;
    }
    #buttontop svg {
        color: gray;
        width: 50%;
    }
    #buttontop.show {
        transform: translateX(0);
    }
    #buttontop:hover {
        background: white;
    }
}
  /* RADIUS */
  .useradmin img{
      border-radius: 50px;
      width: 45px;
      height: 45px;
  }
  .isadmin svg {
    width: 30px;
    height: 30px;
  }

  /* ERROR 404 */
  .error404 svg * {
    fill: #BB0B0B;
}
.error404{
    width: 60px;
    height: 60px;
}

#heart svg {
    width: 35px;
    height: 35px; 
}
.islike svg * {
    fill: #BB0B0B;
}
#heart {
    transform: scale(1);
    transition: transform 0.2s ease;
}
#heart:hover {
    transform: scale(1.1);
}

#user_birthday,
#user_edit_birthday {
    padding: 0;
}

.vedio-box{
    margin:50px auto;
   
    width:100%;
    height: 800px;

}

.logo image{
    
    margin: 0;
   
    position: absolute;
}
.navbar{
    width: 100%;
   
}
/*
.image-box{
   
   height: 600px;
    width:100%;
}
.logo_image{
margin:0px;
}
*/