form {
    padding: 50px;
    background: #454475;
    border-radius: 40px 0 0;
    box-shadow: #b7b7b7 10px 10px 10px;
    color: white;
}
form h1,
form label {
    color: white;
}
.custom-file-label::after {
    content: "Chercher";
}

form textarea{
width :100%;
}
form span.form-error-message {
    color: white;
}

@media (max-width: 992px) {
    form {
        width: calc(100% + 32px);
        transform: translateX(-16px);
    }
}