/*FORM-HOME*/

.form-search {
    background: #454475;
    width: 100%;
}
.form-search h4 {
    color: white;
}

.skills {
    background: #454475;
    display: flex;
    justify-content: center;
    margin: 1.5rem 0 1rem;
}
    .skills svg ,.skills i,.fas {
        fill: white;
        display: block;
        height: 3em;
        max-width: 120px;
        margin: 0 auto 10px;
    }
    .skills span, .skills i  {
        text-align: center;
        color: white;
        font-size: 0.8em;
    }
    .skill span,.skill1 span ,.skill i,.skill1 i{
        color:white;
    }
.skill ,.skill1{
    cursor: pointer;
    margin: 0 5px;
}
.skill svg, .skill span,.skill1 svg, .skill1 span ,.skill i, .skill1 i{
    transition: transform 0.3s ease, color 0.3s ease, fill 0.3s ease;
    color:white;
}
.skill:hover svg ,.skill1:hover svg{
    transform: scale(1.1) rotate(-10deg);
    fill: #66ca89;
}
.skill:hover span,.skill1:hover span ,.skill1:hover i ,.skill:hover span {
    transform: scale(1.1);
    color: #66ca89;
}
#container_service_type {
    position: relative;
}
#service_offer_search_ServiceType_disable {
    background-color: white;
}
#container_service_type #clear_service_type {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2em;
    color: gray;
}
#container_service_type #clear_service_type:hover {
    transform: scale(1);
}
@media screen and (max-width: 992px) {
    .form-search > div {
        width: calc(100% + 32px);
        transform: translateX(-16px);
        background: var(--blue);
    }
    .form-search h4 {
        font-size: 1.32875rem;
    }
}
@media (max-width: 768px) {
    .skills span {
        font-size: 0.6em;
    }
    .skills {
        padding: 0 40px;
    }
    .skills .skill {
        margin-bottom: 10px!important;
    }
    .skills .skill1 {
        margin-bottom: 10px!important;
    }
}