{{ form_start(form) }}

<div class="relative">
<h1>Modification de votre Video</h1>
<label for="Titre">Titre du Video</label>
  <input  type="file" name="file" >
 
  {{ form_row(form.description) }}
  {{ form_row(form.category) }}
  {{ form_row(form.style) }}
      <input  class="btn btn-success" type="submit" name="upload" value="Mettre A Jour  "> 
{{ form_end(form) }}



  <div class="absolute"><img src="/uploadAvatar/images/div.jpg"></div>
</div>




