{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('posts') }}
	<style>
	p{
 margin:20px;
 overflow: hidden;
 text-overflow: ellipsis;
 display: -webkit-box;
 -webkit-line-clamp: 3;
 -webkit-box-orient: vertical;
}

	</style>
{% endblock %}

{% block body %}
	{% include '_includes/form_video.html.twig' %}
	
		{% if video %}
        
			{% for vid in video %}

    <div class="col-lg-4 col-md-6 my-4">
		<div class="post">
  
            <a href="{{ path('video_show', {'id': vid.id}) }}">
               
                <h6 class="mt-2">Category:{{ vid.Category.CategoryName }}</h6>
                <h6 class="mt-2">Style: {{ vid.Style.StyleName }}</h6>
				<p class="mt-2">Describtion: {{ vid.description }}</p>
                <p class="mt-2">CreatedAt: {{ vid.createdAt|date('d-m-Y')}}</p>
            </a>
        </div>
    </div>
	

		{% endfor %}
		{% else %}
			Aucun résultat
		{% endif %}


	<div class="container my-4 d-flex justify-content-center">
		{{ knp_pagination_render(video) }}
	</div>




   
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('posts') }}
{% endblock %}











