{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
        <style>
div.relative {
  position: relative;

  
} 

div.absolute {
  position: absolute;
  top: 522px;
  right: 0;
  width: 1090px;
  height: 129px;
  background: #454475;
  
}

    </style>
{% endblock %}
{% block body %}
{#
<div class="container mb-4 p-0">

   <form method="POST" action="{{ path('video_new') }}" enctype="multipart/form-data">

   <input  type="file" name="file">
   <input  class="btn btn-success" type="submit" name="upload" value="UPLOAD">
   </form>
</div>
#}
<div class="container mb-4 p-0">

{{ include('video/new_form.html.twig') }}
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{{ encore_entry_script_tags('form') }}
    {% endblock %}
