
{{ form_start(form) }}
<div class="relative">

<h1>Uploading and Inserting Video</h1>
<label for="Titre">Titre du Video</label>
 <input  type="file" name="file" >

  {{ form_row(form.description) }}
  {{ form_row(form.category) }}
  {{ form_row(form.style) }}

      {# <button class="btn btn-success"  type="submit">Save</button> #}  
    <input  class="btn btn-success" type="submit" name="upload" value="UPLOAD">  
{{ form_end(form) }}
 <div class="absolute"><img src="/uploadAvatar/images/div.jpg"></div>
</div>
