	{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('posts') }}
    <style>
	.Container{
		background-color:#454475;
		paddind :0px;
		margin:0 px;
		text-align:center;
		width:100%;
		border-radius: 40px 40px;
		box-shadow: #afafaf 5px 5px 10px;
	}
	.Container h5{
		text-align:center;
	}
		.pp{
			color:gray;

		}

		.hh{
			color:#956799;
			text-align:center;
		}
		.hh:hover{
			color:#0000ff;
		}
		.col-sm-5{
			margin:0px auto;
		}
		h5{
			color:#776634;
			
			
		}

		.pp{
			 overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
		}

.pp.hover{
	 overflow: visible;
}
	</style>
{% endblock %}
{% block title %}GBA Vedio3D 360!{% endblock %}

{% block body %}

<div class="con">
   <div class="row" >
		<div class="col"><p></p></div>
    	<div class="col"><a href="{{ path('video_index') }}"><b ><h5 class="hh">back to list</h5></b></a></div>
	</div>
	<div class="row">
    	<div class="col-sm-5">
										
					<div id="mediaspace"></div>
						<script type="text/javascript">
							jwplayer("mediaspace").setup({
							flashplayer: "/jwplayer/player.swf",
							file: "/vedios/" + "{{titre}}",
							height: 389,
							width: 692,
							title: "Vedio Title"
							})
						
						</script>
                    </div>
        </div>
	</div>
</div><br>

 

</div>
{#<br>#}
<div class ="Container">
	<h6 class="hh">Description du Video</h6>
	<p class="pp">{{video.description}}</p>
</div>
<div class="container">
<h5 class="hh">Add un Comment for This Video</h5>
        <div class="row">
            <div class="col">
                <div class="container mb-4 p-0">
                     {{ include('comment/_form.html.twig') }}
                </div>
            </div>
        </div>

</div>

<h4 class="hh">Commentairs</h4>

					

{% if comments %}
<div id="container-form-comment" class="container my-4 bg-whitesmoke">
	<div class="row">
		<div class="col"><p class="pp"><h5>UserName</h5></p></div>
		<div class="col"><p class="pp"><h5>Raiting du Comment</h5></p></div>
		<div class="col"><p class="pp"><h5>Comments du Video</h5></p></div>
		<div class="col"><p class="pp"><h5>Edit</h5></p></div>
		<div class="col"><p class="pp"><h5>Show</h5></p></div>
	</div>
{% for comment in comments %}	

		{% set numR = 0 %}
	<div class="row">
		<div class="col"><p class="pp">{{comment.user}}</p></div>
		<div class="col"><p class="pp">{{comment.rating}}</p></div>
		<div class="col"><p class="pp">{{comment.comment}}</p></div>
		
		{% for role in app.user.roles %}
			{% if (role == 'ROLE_ADMIN') %}
				{% set numR = numR + 1 %}
			{% endif %}
			{% if (role == 'ROLE_SUPER_ADMIN') %}
				{% set numR = numR + 1 %}
			{% endif %}
			{% if (role == 'ROLE_USER') %}
				{% set numR = numR + 1 %}
			{% endif %}
		{% endfor %}
		{% if numR > 1 %}
			<div class="col"><a href="{{ path('comment_edit', {'id': comment.id}) }}" title="Editer"><div class="edit">{% include '_includes/svg/edit-regular.svg' %}</div></a></div>
		{% endif %}
		{% if numR == 1  and app.user == comment.user %}
			<div class="col"><a href="{{ path('comment_edit', {'id': comment.id}) }}" title="Editer"><div class="edit">{% include '_includes/svg/edit-regular.svg' %}</div></a></div>
		{% endif %}
		{% if numR == 1  and app.user != comment.user %}
			<div class="col">---</div>
		{% endif %}

		
		{#
		
		{% if app.user == comment.user %}
		<div class="col"><a href="{{ path('comment_edit', {'id': comment.id}) }}" title="Editer"><div class="edit">{% include '_includes/svg/edit-regular.svg' %}</div></a></div>
		{% else %}
		<div class="col">---</div>
		{% endif %}
		#}
		<div class="col"><a href="{{ path('comment_show', {'id': comment.id}) }}"><div class="show"><i class="fas fa-eye"></i></div></a></div>
	</div>
	
	{% endfor %}

	

</div>
{% else %}
<h5>There are no Comments for This Vedio</h5>
{% endif %}



{% endblock %}
