{% extends 'base.html.twig' %}
{% block title %}Hello ContactController!{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	
    <style>
#map{
    margin-top : 15px;
    margin-bottom : 15px;
    border-style:solid;
    border-color:#454475;
    border-width: 1ex;
    margin: 15px auto;

}
    </style>
 
{% endblock %}

{% block body %}
<div id="map" style="width: 90%; height: 800px;"></div>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
   <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>

   <script>

   function positionRefused(error){
 alert('the position ete refuse');
 console.log(error);
 switch(error.code){
 case error.PERMISION_DENIED:
     alert('vous n\'avez pas donné la perlission Monsieur le naz');
     break;
     case error.TIMEOUT:
         alert('Timout ... Sorry');
         break;
         case error.POSITION_UNAVAILABLE:
             alert('Impo');
             break;
             default:
                 alert('Unkown error');
                 break;

 }
 }


if(navigator.geolocation){
     navigator.geolocation.getCurrentPosition(initMap, positionRefused);

}
function initMap(position)
{
    var map = L.map('map').setView([position.coords.latitude,position.coords.longitude],7);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors' }).addTo(map);
    
    L.marker([48.591118, 7.719081]).addTo(map)
        .bindPopup('GBA TEMS Entreprise')
        .openPopup();
}

 </script>

  	
{% endblock %}
