<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Video/Image 360{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/fontawesome.min.css">
 			{{ encore_entry_link_tags('bootstrap') }}
			{{ encore_entry_link_tags('app') }}
             
            <link rel="stylesheet" type="text/css" href="//wpcc.io/lib/1.0.2/cookieconsent.min.css"/>
		{#   usein LeafLet Map  #}

 		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   		  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    		 crossorigin="">


        {% endblock %}
		{#   usein JWPlayer  #}
		    <script src="/jwplayer/jwplayer.js"></script>   
			<script src="/photo3djs/three.js"></script>
    		
    </head>
    <body>

    	<header class="d-none d-lg-block">
			{% include "_includes/header/header.html.twig" %}
	
		</header>
       


 <div class="container p-0">
			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="flash-{{ label }} bg-{{ label }} text-white p-4 pr-5 mb-4 rounded alert alert-warning alert-dismissible fade show" role="alert">
						{{ message | raw }}
						<button type="button" class="close p-4" data-dismiss="alert" aria-label="Fermer">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				{% endfor %}
			{% endfor %}
        </div>
	
		<div id="page" class="row m-0 p-sm-0 px-3 align-items-start">
			{% block body %}
			{% endblock %}
		</div>
        
		<a id="buttontop">
			{% include "_includes/svg/scroll_top.svg" %}
		</a>
        
                 
	</div>
            


<footer class="pt-5">
	<script>
	window.addEventListener("load", function(){window.wpcc.init({"colors":{"popup":{"background":"#454475","text":"#ffffff","border":"#3f4bdf"},"button":{"background":"#66ca89","text":"#ffffff"}},
	"content":{"message":"En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de traceurs (cookies)","button":"J'accepte","link":"En savoir plus"},"position":"bottom","margin":"none"})});
	</script>
		<div class="container text-center text-md-left">
				<div class="row">
					
					<div class="col-md-4 mt-md-0 mt-3">
						<div class="container">
							<div class="container">
								<img class="logo_image" src="/uploadavatar/logo/log-gba.png" alt="logo-gba-website-w-1324X280.png" width="137" height="70">
								<p> Innovative headset to create the effect of presence immerses you in the real world with a volume of 360 viewing angle. Enjoy a truly realistic and moving images due to the higher resolution and higher densit.</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 mb-md-0 mb-3">
						<div class="container">
							
							<ul class="list-unstyled">
								<li>
								<h6>Arborescence Site</h6>      
								<p>Developer Blog</p>      
								<p>Developer Forums</p>      
								<p>Developer Blog</p> 
								<p>Innovation</p>      
								<p>Technology</p>
								</li>

							</ul>
						</div>
					</div>
					<div class="container col-md-4 mb-md-0 mb-3 row align-items-center">
						<div class="container">
							<h6>Contact </h6>
							<p><a href="{{path('map')}}"><i class="fas fa-map-marker-alt"></i>6 Rue Jacob Mayer, 67200, Strasbourg, GRAND EST</a></p>
							<p><i class="fas fa-mobile-alt"></i>(33) 7 67 07 11 13</p>
							<p><i class="fas fa-envelope"></i>info@gba-alsace.fr</p>
							<div class="row">
							  <div class="col"><a href = "https://www.facebook.com/AncoraThemes/" target="_blank"><i class="fab fa-facebook-square"></i></a></div>
								<div class="col"><a href = "https://twitter.com/ancora_themes" target="_blank"><i class="fab fa-twitter"></i></a></div>
								<div class="col"><a href = "https://www.instagram.com/ancora_themes/" target="_blank"><i class="fab fa-instagram-square"></i></a></div>
								<div class="col"><a href = "https://www.youtube.com/channel/UCdIjRh7-lPVHqTTKpaf8PLA" target="_blank"><i class="fab fa-youtube-square"></i></a></div>
							 </div>
							
							
							
						</div>
					</div>
				</div>
			</div>
				<div class="container" style="background-color:#454475; color:white;text-align:center;">
						<p style="margin: 0; display: inline;">© 2020 GrandesBaladesAugmentées. Tous droits réservés.</p>
						<p style="margin: 0; display: inline;" align="right"> Conditions d'Utilisation  et Politique de Confidentialité</p>
							
						</div>
		</footer>
	</body>
</html>






        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	        <script src="https://kit.fontawesome.com/97e5995ea1.js" crossorigin="anonymous"></script>
	        <script src="//wpcc.io/lib/1.0.2/cookieconsent.min.js"></script>
			  
			

        {% endblock %}
