{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid col-12">
    <div class="container justify-content-center col-6">
        <div class="error404">{% include '_includes/svg/error.svg' %}</div>
      <h1 class="display-4">ERREUR 403</h1>
      <p class="lead">Désolé, mais vous avez pas le droit d'accèder à cette page. <br>
     <a  href="{{ path('home') }}"><button class="btn btn-primary mt-2">Retourner à l'accueil</button></p></a>
    </div>
  </div>
	
{% endblock %}
