{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid col-12">
    <div class="container justify-content-center col-6">
        <div class="error404">{% include '_includes/svg/error.svg' %}</div>
      <h1 class="display-4">ERREUR 500</h1>
      <p class="lead">Nous sommes désolés, mais un problème est survenu sur le serveur, le site n'est plus accessible pour le moment. Si le problème persiste, merci de contacter l'administrateur. <br>
     <a  href="mailto:projetaidetonvoisin@gmail.com"><button class="btn btn-primary mt-2">Contactez-nous</button></p></a>
    </div>
  </div>
	
{% endblock %}
