<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div id="container-logo" class="row m-0 justify-content-center align-items-center order-lg-1 order-sm-2">
                   
    <div class ="logo" ><a href="{{path('home')}}">
 <img class="logo_image img-fluid" src="/uploadavatar/logo/log-gba.png" alt="logo-gba-website-w-1324X280.png" width="137" height="70">
 </a>
 </div>
    </div>
    <button type="button" class="navbar-toggler order-lg-2 order-sm-3" data-toggle="collapse" data-target="#navigation" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

    </button>


    <div class="p-0 collapse navbar-collapse order-lg-3 order-sm-4" id="navigation">
        <ul class="navbar-nav mr-auto text-right">
                        <li class="nav-item active">
                   
                  <a class="nav-link pl-0"  href="#" >SERVICES
                        
                  </a>
                </li>


              <li class="nav-item active">
                   
                  <a class="nav-link pl-0"  href="#" >EXTRAS
                        
                  </a>
                </li>
                <li class="nav-item active">
                   
                  <a class="nav-link pl-0"  href="#" >  BLOG
                        
                  </a>
                </li>
                <li class="nav-item active">
                   
                  <a class="nav-link pl-0"  href="#" >GALORIE
                        
                  </a>
                </li>
            {% if app.user %}
                <li class="nav-item active">
                   
                  <a class="nav-link pl-0"  href="#" >
                  
                  A propose 
                        
                  </a>
                </li>
            {% endif %}
            <li class="nav-item active">

            <li class="nav-item">
              
            {% if  app.user %} 
             <a class="nav-link pl-0"  href="{{ path('video_index') }}">Chercher_un_Vedio</a>  
             {% endif %}
            </li>
            <li class="nav-item">
              
            {% if  app.user %} 
             <a class="nav-link pl-0"  href="{{ path('photo_index') }}">Chercher_une_Photo</a>  
             {% endif %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('contact') }}">
               
                                 
                Contact</a>
            </li>

                <li class="nav-item active">
                   
                  <a class="nav-link pl-0"  href="{{path('home')}}" >
                        {#<i class="fas fa-home"></i>#}
				                        
				                               Home
		                              
                        
                  </a>
                </li>

        </ul>
        <ul class="navbar-nav text-right">
            {% if not app.user %}
                <li class="nav-item">
                    <a class="nav-link btn btn-primary d-inline-block mr-lg-3" href="{{ path('user_new') }}">S'inscrire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pr-0" href="{{ path('app_login') }}">Connexion</a>
                </li>


                {% endif %}

        






        
            </ul>

          </div>
        </div>

        </ul>
    </div>
    
    {% if app.user %}

       {% include "_includes/header/picture.html.twig" %}    
    {% endif %}

    
</nav>
