<div class="container-notifications btn-group order-lg-4 order-sm-1">
    
    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     
        <div 
            class="picture picture-header" 
           >

        </div>

    
    </a>  
    <div class="dropdown-menu dropdown-menu-lg-right">
      




        <a class="dropdown-item" href="{{ path('user_show', {'id': app.user.id }) }}">Mon profil</a>
    
        {% for role in app.user.roles %}
            {% if role == 'ROLE_ADMIN' %}
                <a class="dropdown-item" href="{{ path('admin_index') }}" target="_blank">Administration</a>
                <a class="dropdown-item" href="{{ path('video_new') }}" >Ajouter un Video360</a>
                <a class="dropdown-item" href="{{ path('photo_new') }}" >Ajouter une Image360</a>
                <a class="dropdown-item" href="{{ path('category_new') }}">Ajouter un Category</a>
                <a class="dropdown-item" href="{{ path('style_new') }}" >Ajouter un Style</a>
            {% endif %} 
        {% endfor %}

        <div class="dropdown-divider"></div>



        <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
    </div>


</div>