{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
{% endblock %}


{% block title %}Edit User{% endblock %}

{% block body %}

<div class="container mb-4 p-0">
    {{ include('user/edit_form.html.twig')}}
  {# {{ include('user/edit_form.html.twig', {'button_label': 'Update'}) }}  #}
 </div>
 
 <div class="container mb-4 p-0">
    <a href="{{ path('user_show',{'id':user.id}) }}">back to list</a>

</div>

   

    
    
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    {% endblock %}