
{% block body %}
{{ form_start(form) }}
{% if app.user %}
	<h1 class="text-lg-center mb-3">Modification de votre profil</h1>
{% else %}
	<h1 class="text-center mb-3">Création de votre profil</h1>
{% endif %}
   {{ form_row(form.firstName) }} 
   
        
    
   {{ form_row(form.lastName) }}   
       
   {{ form_row(form.email) }}  
 
  
    {{ form_row(form.password) }}
    {{ form_row(form.profileUser) }}
   
<button class="btn btn-success">Save</button>

{{ form_end(form) }}
{% endblock %}
