{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
    {#
    <style>
        #search_found {
            display: block;
            width: 100%;
            padding: 0.5rem 1.1rem;
            background: white;
            border-radius: 3px;
            cursor: pointer;
            font-size: 1.063rem;
            letter-spacing: 0;
            transition: color 0.2s ease;
        }
        #search_found:hover {
            color: var(--green);
        }
        #search_found.hidden {
            display: none;
        }
        #row_adress .invalid-feedback {
            margin-bottom: 0.5rem;
        }
    </style>
    #}
{% endblock %}


{% block body %}
    <div class="container mb-4 p-0">

    {{ include('user/new_form.html.twig') }}

   {# <a href="{{ path('user_index') }}">back to list</a>#}
   </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    {% endblock %}
