{{ form_start(form) }}
    <h1 class="text-center mb-3">Création de votre profil</h1>
   
   {{ form_row(form.firstName) }} 
   
        
    
   {{ form_row(form.lastName) }}   
       
   {{ form_row(form.email) }}  
 
  
    {{ form_row(form.password) }}
    {{ form_row(form.profileUser) }}
    {# {{ form_row(form.avatarFile) }} #}


    <button class="btn btn-success">Save</button>
{{ form_end(form) }}
