{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
{% endblock %}

{% block body %}
    <div class="container">

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">Envoyer</button>
        {{ form_end(form) }}

    </div>

{% endblock %}