{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('public_profile') }}
    
{% endblock %}


{% block body %}
<div id="anchor"></div>
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>ProfileUser</th>
                <td>{{ user.profileUser }}</td>
            </tr>
        </tbody>
    </table>

<div class="container mb-4 p-0">
   {# <a href="{{ path('user_index') }}">back to list</a>  #}
</div>
<div class="container mb-4 p-0">
    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
</div>
<div class="container mb-4 p-0">

{#   <a href="{{ path('user_delete', {'id': user.id}) }}">delete</a>  #}
    
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
	<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    {% endblock %}