<b>Nom de l'expéditeur :</b>
{{ lastname }}
<br>
<br>
<b>Prénom de l'expéditeur :</b>
{{ firstname }}
<br>
<br>
<b>Numéro de téléphone :</b>
{% if phone %}
	{{ phone }}
{% else %}
	<p>Non renseigné</p>
{% endif %}
<br>
<br>
<b>Adresse mail :</b>
{{ email }}<br>
<br>
<b>Message de l'expéditeur :</b><br>
<br>
{{ message }}
