Vous venez de demander la création d'un nouveau mot de passe. Merci de cliquer sur le lien ci-dessous pour effectuer cette opération.
<br>
<br> 
L'utilisateur <a href='https://127.0.0.1:8000/user/password/{{token}}/{{id}}'>Réinitialiser mon mot de passe</a>
