L'utilisateur <a href='https://127.0.0.1:8000/user/profile/{{idReport}}'>{{ app.user.lastName }} {{ app.user.firstName }}</a> a signalé l'annonce suivante.
<br>
<br>
Adresse mail de l'utilisateur qui a signalé: {{ mail }}
<br>
<br>
{#   Annonce concernée <a href='http://127.0.01:8000/service-offer/{{serviceOffer}}'>Accèder à l'annonce</a>  #}
<br>
<br>
Id de l'annonce: {{ id }}
<br>
<br>
Contenu du commentaire:
<br>
<br>
{{ content }}

