L'utilisateur <a href='https://127.0.0.1:8000/user/profile/{{idReport}}'>{{ app.user.lastName }} {{ app.user.firstName }}</a> a signalé un utilisateur.
<br>
<br>
Adresse mail de l'utilisateur qui a signalé: {{ mail }}
<br>
<br>
Utilisateur concerné <a href='http://127.0.01:8000/user/profile/{{userReported}}'>Accèder au profil de l'utilisateur signalé</a>
<br>
<br>
Id de l'utilisateur signalé: {{ id }}


